<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
 <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
 <title>O mnie</title>
</head>
<body>
<div class="menu">
        <a href="{{ url_for('contact')}}">Kontakt</a>
        <a href="{{ url_for('gallery')}}">Galeria</a>
        <a href="{{ url_for('')}}">Strona domowa</a>
</div>
<h1>About me </h1>
<p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
velit..."</p>
<p> "There is no one who loves pain itself, who seeks after it and wants to have it, simply because
it is pain..."</p>
</body>
</html>