<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
 <link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
 <title>Kontakt</title>
</head>
<body>
<div class="menu">
        <a href="{{ url_for('about')}}">O mnie</a>
        <a href="{{ url_for('gallery')}}">Galeria</a>
        <a href="{{ url_for('')}}">Strona domowa</a>
</div>
 <address>
<a href="mailto:webmaster@example.com">Mateusz Sierski</a>.<br>
ul. XYZ, 11-111 Białystok<br>
Polska
</address>
</body>
</html>