<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
 <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
 <title>Galeria</title>
</head>
<body>
<div class="menu">
        <a href="{{ url_for('contact')}}">Kontakt</a>
        <a href="{{ url_for('about')}}">O mnie</a>
        <a href="{{ url_for('')}}">Strona domowa</a>
</div>
<div class="tlo">
  <img class='photo' src="{{ url_for('static', filename='kot.jpg') }}" alt="Cat1">
  <img class='photo' src="{{ url_for('static', filename='kot1.jpg') }}" alt="Cat2">
  <img class='photo' src="{{ url_for('static', filename='kot2.jpg') }}" alt="Cat3">
  <img class='photo' src="{{ url_for('static', filename='kot3.jpg') }}" alt="Cat4">
</div>
</body>
</html>